
body{
    background-image: linear-gradient(red 0%,orange 50%,yellow 100%);
    margin-bottom:650px;
}
h1{
    color:black;
    font-size:50px;
}
p{
    font-size:40px;
}
.center{
    text-align:center;
    margin-top: 300px;
    color:white;
    font-family: "Trade Winds", system-ui;
}
a {
    color:black;
    font-size:35px;
}
a:hover{
    background-color:gray;
    padding:2px 10px 2px 10px;
    color:white;
}
